<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./css/main.min.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald", rel="stylesheet")
    body
        .outer
            .inner.inner-flex
                .cols-8.content
                    h2 Typography
                    .read-content
                        section
                            h1 Simple Gulp file or config test
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            h2 Sounds Great, Where Do I Start?
                            p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                            h3 Sounds Great, Where Do I Start?
                            p when an unknown printer took a galley of type and scrambled it to make a 
                                |type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                            h4 Sounds Great, Where Do I Start?more recently with desktop publishing software like Aldus PageMaker including     
                            p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
                            h5 Sounds Great, Where Do I Start? more recently with desktop publishing software like Aldus PageMaker including 
                            p and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    .read-content
                        h2 Grid Layout      
                .cols-4.widget
                    h2 Widget header  
                               
        script(src="./js/app.min.js")
        
